* -------------------------------------------------------------------- *
+           UNAUTHORIZED ACCESS TO THIS DEVICE IS PROHIBITED           +
+ -------------------------------------------------------------------- +
| TL;DR:                                                               |
| - THIS IS MONITORED                                                  | 
| - FUCK RIGHT OFF TRYING TO CONNECT                                   |
| (⁄˘⁄ ⁄ ω⁄ ⁄ ˘⁄)♡                                                     |
* -------------------------------------------------------------------- *
